* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
       background: linear-gradient(34deg, #68dc28, #612067, #9d5128);
    color: #c5dec2;
    height: 100vh;
}

main {
    display: grid;
    place-items: center;
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

h1 {
    font-size: 2.4rem;
}

.inputs {
    display: flex;
    gap: 20px;
}

.inputs>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputs>div>input {
    width: 100px;
    height: 50px;
    font-size: 2rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.inputs>div>span {
    font-size: 1.4rem;
    font-weight: 600;
}

@media (max-width:450px) {
    h1 {
        font-size: 1.9rem;
    }

    .inputs {
        display: flex;
        gap: 10px;
    }

    .inputs>div>input {
        width: 70px;
        height: 35px;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    .inputs>div>span {
        font-size: 1rem;
        font-weight: 600;
    }
}